.jsondetailslistwidget table tr input {
	border-radius: 0px !important;
	border:1px solid #999 !important;
	margin: 0px;
}
.jsondetailslistwidget table tr {
	background-color: #4d7496;
}
.jsondetailslistwidget table th, .jsondetailslistwidget table th input {
	background-color: #2a4053;
	border: none !important;
	padding: 0px;
	width: 100px;
	color: #fff;
}
.delete_row, .delete_column, .add_column {
	/*text-align: center;
	display: block;
	width: 5px;
	height: 15px;
	padding: 3px 8px;
	color: #000;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	margin: 0px auto;
	background-color: #f00;
	border-radius: 15px;*/
}
.th_add {
	width: 20px !important;
}
.delete_row {
	text-align: center;
	display: block;
	width: 20px !important;
	height: 100%;
}