.quizwidget {
    background-color: #fff;
    float: left;}

    .pageid {
        width: 10px;
        float: left;
    }

    .quizwidget .button {
        margin: 0px;
    }

    .addpage {
        clear: both;
        float: left;
        text-align: center;
        display: block;
        width: 590px;
    }

    .quizwidget .delete, .quizwidget .collapse {
        float: right;
        padding: 5px;
    }

    .step {
        float: left;
        clear: both;
        border-left: 2px solid #636363;
        margin-left: 10px;
        margin-top: -15px;
        padding-left: 10px;
        height: 50px;
    }

    .quizpage.collapsed .questions, .quizpage.collapsed .ways {
        display: none;}

    .quizpage {
        float: left;
        border: 1px solid #DADADA;
        clear: both;
        width: 600px;
        margin-bottom: 15px;}

        .questionbody {
            font-weight: bold;
            padding: 5px;
        }

        .quizpage .pageheader {
            font-weight: bold;
            float: left;
            width: 100%;
            background-color: #C6DDEF;}

            .pageid {
                padding: 5px;}

        .questions, .ways {
            margin-bottom: 5px;}

            .pagesection {
                float: left;
                width: 100%;
                font-weight: bold;
                background-color: #B6FFDC;
                margin: 0px 0px 5px 0px;}

                .pagesection div {
                    padding: 5px;}

            .question, .way {
                float: right;
                width: 90%;
                margin: 0px 0px 10px 0px;
                padding: 5px;
                border-top: 4px solid #DADADA;}

                .question .option {
                    width: 90%;
                    float: right;
                    border-top: 1px solid #DADADA;}

                    .question .option input {
                        width: 300px;}

                .answer {}

                    .answer input {
                        margin: 10px;
                    }


